body {
    padding: 0;
    margin: 0 auto;
    background: #F6F6F6;
    font-size: 12pt;
    line-height: 150%;
}
div.wrapper {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
/**
 * HEADER
 */

.main-header {
    margin: 0 auto 15px;
    padding: 0;
    background: rgb(153, 31, 31);
    border-bottom: 3px double #CCCCCC;
    box-sizing: border-box;
    display: block;
    height: 100%;
}
.main-header h1.site-title {
    margin-top: 10px;
}
.main-header h1.site-title a {
    font-weight: bold;
    color: #EEE;
    text-shadow: 0 1px 5px black;
    text-decoration: none;
}
.main-header p.site-description {
    font-weight: bold;
    font-size: small;
    color: white;
    font-style: italic;
}
.main-header .search {
    padding: 0;
    display: block;
    margin: 0px 0px 0px auto;
    max-width: 300px;
}
.main-header .search form {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
}
.main-header .search .search-form {
    margin-top: 5px;
    margin-bottom: 5px;
}
.main-header .search .search-button {
    text-align: right;
}
@media (max-width: 768px) {
    .main-header .search {
        margin: 0px auto;
        max-width: 100%;
    }
    .main-header .search .search-button {
        text-align: inherit;
    }
}
.main-header .navmenu-shadow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2999;
}
.main-header .menu {
    border-bottom: 1px solid #ce5d5d;
    background: rgba(36, 12, 12, 0.75);
    text-align: center;
    text-transform: uppercase;
    font-size: 8pt;
}
.main-header ul.navmenu {
    position: relative;
    z-index: 3000;
    display: inline-block;
    margin: 0px auto;
    text-align: left;
    padding: 0px;
}
.main-header ul.navmenu li {
    position: relative;
    padding: 0px 10px;
}
.main-header ul.navmenu li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}
.main-header ul.navmenu ul {
    display: block;
    position: absolute;
    min-width: 150px;
    padding: 5px;
    margin: 0 auto;
    left: 0;
    z-index: 1;
    border: 1px solid #990;
    background: white;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .5);
}
.main-header ul.navmenu ul.open {
    visibility: visible;
}
.main-header ul.navmenu ul li {
    display: block;
    border-bottom: 1px solid #990;
}
.main-header ul.navmenu ul li:last-child {
    border-bottom: none;
}
.main-header ul.navmenu ul ul {
    left: 100%;
    margin-left: 15px;
    top: -6px;
}
.main-header ul.navmenu li>.carret {
    display: inline;
    cursor: pointer;
    font-weight: bold;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 5px;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    border-radius: 100%;
}
.main-header ul.navmenu>li {
    display: inline-block;
    margin: 0px auto;
}
.main-header ul.navmenu>li>ul {
    left: -1px;
    top: 100%;
    margin-top: 10px;
}
.main-header ul.navmenu>li>ul:after {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #990;
    content: " ";
    top: -7px;
    left: 10px;
    position: absolute;
}
.main-header ul.navmenu>li>ul ul:after {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #990;
    border-bottom: 7px solid transparent;
    content: " ";
    top: 20px;
    left: -7px;
    position: absolute;
}
.main-header ul.navmenu>li>.carret {
    left: 5px;
    top: 16px;
    color: #EEE;
    border-radius: 100%;
}
.main-header ul.navmenu li>.carret:hover {
    background: #000;
    color: #FFF;
}
.main-header ul.navmenu>li>.carret+a {
    padding-left: 30px;
}
.main-header ul.navmenu>li>a {
    padding: 15px 20px;
    font-weight: bold;
    color: #EEE;
}
@media (max-width: 768px) {
    .main-header ul.navmenu {
        margin-left: -15px;
        margin-right: -15px;
        width: auto;
        display: block;
    }
    .main-header ul.navmenu>li {
        display: block;
        border-top: 1px solid #CFF;
        border-left: none;
        border-right: none;
    }
    .main-header ul.navmenu>li>.carret {
        left: auto;
        top: 15px;
        color: #EEE;
        border-radius: 100%;
    }
    .main-header ul.navmenu>li>.carret+a {
        padding-left: 20px;
    }
    .main-header ul.navmenu ul {
        position: initial;
        margin-bottom: 5px;
    }
    .main-header ul.navmenu ul:after {
        display: none;
    }
}
/**
 * FOOTER
 */

.main-footer .credit {
    border-top: 1px solid #CCCCCC;
    background: white;
    height: 60px;
    line-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-footer .credit p {
    margin: 0 auto;
    color: #111;
    font-size: 10pt;
}
.main-footer .credit p a {
    text-decoration: none;
    color: #926126;
}

/**
 * CONTENT
 */

.main-content {
    padding: 0px;
    margin: 0px auto;
}
.content-wrapper {
    margin-bottom: 15px;
    padding: 15px;
    background-color: white;
    color: #333333;
}
.content-wrapper:before, .content-wrapper:after {
    clear: both;
    display: block;
    content: " ";
    width: 100%;
}
.content-wrapper a {
    color: #986a32;
}
.pagination {
    margin-top: 0px;
    margin-bottom: 10px;
}
.pagination * {
    /*border: none !important;*/
}
.pagination a,
.pagination span {
    background: white;
    cursor: pointer;
}
/**
 * ENTRY OF CONTENT
 */

.entry-header .entry-title {
    margin-top: 0px;
}
.entry-header .posted {
    font-size: 10pt;
    margin-bottom: 10px;
}
.entry-content:after {
    clear: both;
    display: block;
    content: " ";
    width: 100%;
}
.entry-content figure.image {
    border: 1px solid #CCC;
    position: relative;
}
.entry-content figure.image-style-align-right {
    max-width: 50%;
    float: right;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}
.entry-content figure.image-style-align-left {
    max-width: 50%;
    float: left;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.entry-content figure.image>img {
    max-width: 100%;
    display: block;
    margin: 0px auto;
}
/**
 * Comment List
 */

.comment-list .comment {
    padding: 15px;
    margin-bottom: 15px;
    background-color: white;
    color: #222;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.comment-wrapper>.comment-header {
    margin-bottom: 15px;
}
.comment-wrapper>.comment-header h4 {
    margin: 0px auto 5px;
}
.comment-wrapper>.comment-body {
    margin-bottom: 15px;
}
/**
 * Comment Form
 */

.comment-form {
    border-top: 1px solid #CCC;
    padding: 15px;
    margin-bottom: 15px;
    background-color: white;
    color: #222;
}
/**
 * PROFILE
 */

#profile {
    /* initial */
}
#profile .open-handler {
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
    background: #CCC;
    font-size: 20px;
    padding: 0px;
    margin: 10px;
    display: flex;
    border-radius: 100%;
    box-shadow: 0px 0px 5px 1px #CCC;
    color: #FFF;
    border: 3px solid #000;
    z-index: 3001;
}
#profile .profile-box {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3001;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
#profile .profile-box .profile-body {
    position: relative;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    transform: translate(0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#profile .profile-box .profile-body .profile-content {
    background: #fff;
    border: 2px solid #CCC;
    text-align: center;
    max-width: 500px;
    padding: 15px;
    margin: 50px;
    position: relative;
}
#profile .profile-box .profile-body .profile-content img {
    max-width: 100%;
}
#profile .profile-box .profile-body .profile-content ul {
    text-align: left;
}
#profile .profile-box .close-handler {
    position: absolute;
    right: -30px;
    top: -30px;
    background: #FFF;
    color: #000;
    height: 30px;
    width: 30px;
    font-size: 28px;
    border: 1px solid #FFF;
    border-radius: 100%;
    margin: 0;
    text-align: center;
    display: flex;
    cursor: pointer;
}
/**
 * WIDGET
 */

.widget {
    box-sizing: border-box;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #666;
}
.widget-title {
    background-color: #999;
    padding: 10px 15px;
    display: block;
    color: #FFF;
}
.widget-body {
    padding: 10px 15px;
}
.widget-body>* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.widget-body .carret {
    display: none;
}
.widget a {
    color: #a3743a;
}