body {
    background: white;
    margin: 0;
    padding: 0;
}

.viloveul-container-class {
    padding-bottom: 50px;
    position: relative;
}

.viloveul-container-class div.navmenu-wrapper {
    margin: 0px auto;
    width: auto;
    position: absolute;
    bottom: 0px;
    text-align: center;
    left: 0;
    right: 0;
    height: 50px;
}
.viloveul-container-class div.navmenu-wrapper ul.navmenu {
    display: inline-block;
    padding: 0;
    margin: 0 auto;
}
.viloveul-container-class div.navmenu-wrapper ul.navmenu li {
    display: inline;
}
.viloveul-container-class div.navmenu-wrapper ul.navmenu li .carret {
    display: none;
}
.viloveul-container-class div.navmenu-wrapper ul.navmenu li a {
    display: inline-block;
    height: 50px;
    padding: 15px;
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
    color: #666;
}
.viloveul-container-class div.navmenu-wrapper ul.navmenu li a:hover {
    color: #000;
}
.viloveul-container-class div.navmenu-wrapper ul.navmenu ul {
    display: none;
}

#viloveul-container {
    margin: 0;
    text-align: center;
    background: #191919;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#viloveul {
    display: inline-block;
    background: #800;
    border-radius: 1vw;
    border-top: 0.75vw solid #eee;
    border-left: 0.75vw solid #eee;
    border-right: 0.75vw solid #eee;
    border-bottom: 0.75vw solid #eee;
    cursor: pointer;
}

#viloveul >p {
    margin: 0px auto;
}

#viloveul span.text {
    padding: 0vw 1vh;
    margin: 0vw 0vh;
    display: table-cell;
    font-family: "Times New Roman", Arial;
    color: #FFFFFF;
}

#viloveul span.text.text-1 {
    font-size: 6vw;
    font-weight: bold;
}

#viloveul span.text.text-2 {
    font-size: 6vw;
    font-weight: bold;
    transform: rotate(20deg);
    color: yellow;
}

#viloveul span.text.text-3 {
    font-size: 5vw;
}

#viloveul span.text.text-4 {
    font-size: 5vw;
}

#viloveul span.text.text-5 {
    font-size: 5vw;
}

#viloveul span.text.text-6 {
    font-size: 5vw;
}

#viloveul span.text.text-7 {
    font-size: 5vw;
}

#viloveul span.text.text-8 {
    font-size: 5vw;
}

#markdown-container {
    box-sizing: border-box;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#markdown-container .content-body-framework {
    border: 3px double #999;
    border-radius: 5px;
    padding: 25px;
    margin: 15px;
}